@model OnlineBookStore.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Bem-vindo</h1>
</div>

@foreach (var book in Model.Books){
    <div class="container">
        <div class="row gap-3 g-4">
            <div class="card" style="width: 18rem;">
                <img src=@book.Image class="card-img-top" alt="Capa-Livro">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text mb-1">@book.Author</p>
                    <p class="card-text">@book.Publisher</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0">@book.Price €</p>
                        <a class="btn btn-primary float-end" asp-action="BookDetails" asp-route-id=@book.Id >Ver Livro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


